.button {
    display: inline-block;
    margin: 1em .5em 1em 0;
    padding: 1em 1.7em;
    background-color: #fff;
    color: #000;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,.14), 0 7px 20px 0 rgba(0,0,0,.10);
    transition: background-color .2s, color .2s;
    text-decoration: none;
    text-align: center;
    user-select: none;

    &:first-of-type {
        margin-left: 0;
    }

    &:hover {
        background-color: darken( #fff, $darken-light );
        cursor: pointer;
    }

    &.is-primary {
        background-color: $primary;
        color: #fff;

        &:hover {
            background-color: $primary-dark;
        }
    }

    &.is-secondary {
        background-color: $secondary;
        color: #fff;

        &:hover {
            background-color: $secondary-dark;
        }
    }

    &.is-disabled {
        background-color: darken( #fff, $darken-light );

        &:hover {
            cursor: not-allowed !important
        }
    }
}

@media only screen and ( max-width: 768px ) {
    .button {
        margin: 1em 0;
        display: block !important;
    }
}
